In [287]:
# Pandas is used for data manipulation
import pandas as pd
import numpy as np
# Read in data and display first 5 rows
features = pd.read_csv('input.csv')
print(features.shape)
features.head(5)

(63, 319)

,MES,YEAR,EURO,DOLAR,COBRE,DESEMPLEO,EXPMES,EXP2MES,ACEITE_VEGETAL,ACEITE_MARAVILLA,...,GASTOFINANCIERO,SERVICIODEEMISIONDECERTIFICADO,SERVICIODEFOTOCOPIADO,MEMBRESIAENASOCIACIONPROFESIONAL,SERVICIONOTARIAL,SERVICIOFUNERARIO,CUOTASENCENTROSDEPADRESYAPODERADOS,SERVICIODERESIDENCIASPARAADULTOSMAYORES,SERVICIODESALACUNA,IPC_REAL
0,1,2014,733.068696,538.155652,3.313667,6.1,0.2,0.1,1327.4025,1397,...,75.681612,100.0,76.715990,92.028937,83.106642,74.947169,86.694959,75.173508,69.446584,87.525054
1,2,2014,758.056500,554.557000,3.239368,6.1,0.2,0.4,1406.4839,1505,...,75.931536,100.0,77.869212,92.028937,83.573212,75.148100,86.694959,75.297053,69.624821,87.909605
2,3,2014,745.297727,563.668571,3.012600,6.5,0.5,0.2,1398.6126,1496,...,76.181460,100.0,77.838663,92.028937,83.466801,75.764749,89.619774,75.972917,70.786665,88.410645
3,4,2014,767.239773,555.533182,3.049862,6.1,0.2,0.2,1359.0972,1569,...,76.408664,100.0,78.182339,92.028937,83.646881,76.152754,89.619774,75.972917,70.813071,89.000230
4,5,2014,762.454545,555.151818,3.118095,6.3,0.3,0.2,1405.7888,1488,...,76.779764,100.0,78.533652,92.028937,83.695993,76.201254,89.619774,76.561573,70.865882,89.311936

In [288]:
# One-hot encode the data using pandas get_dummies
IPC_reales=features['IPC_REAL']
features=features.drop('IPC_REAL',axis=1)
features = pd.concat([pd.get_dummies(features['MES']),features.drop('MES', axis=1)], axis=1)
features = pd.concat([pd.get_dummies(features['YEAR']),features.drop('YEAR', axis=1)], axis=1)
# Display the first 5 rows of the last 12 columns

In [289]:
cols=int(features.shape[1])

In [290]:
# Use numpy to convert to arrays
import numpy as np
# Labels are the values we want to predict
labels = np.array(features.iloc[:,cols-303:cols])
#print(labels)
#Remove the labels from the features
# axis 1 refers to the columns
features= features.drop(features.iloc[:,cols-303:cols], axis = 1)
features.head(5)
#predecir= predecir.drop("VALOR", axis = 1)
# Saving feature names for later use
#feature_list = list(features.columns)
# Convert to numpy array
#features = np.array(features)

,2014,2015,2016,2017,2018,2019,1,2,3,4,...,DESEMPLEO,EXPMES,EXP2MES,ACEITE_VEGETAL,ACEITE_MARAVILLA,AZUCAR,ABASTERO_SUPER,PULPA_CERDO,POLLO_ENTERO,ARROZ_GRADO_1
0,1,0,0,0,0,0,1,0,0,0,...,6.1,0.2,0.1,1327.4025,1397,563,4970,3420,1814,832
1,1,0,0,0,0,0,0,1,0,0,...,6.1,0.2,0.4,1406.4839,1505,566,5059,3404,1815,842
2,1,0,0,0,0,0,0,0,1,0,...,6.5,0.5,0.2,1398.6126,1496,571,4758,3391,1778,829
3,1,0,0,0,0,0,0,0,0,1,...,6.1,0.2,0.2,1359.0972,1569,571,4856,3473,1784,856
4,1,0,0,0,0,0,0,0,0,0,...,6.3,0.3,0.2,1405.7888,1488,573,5107,3564,1806,854

In [291]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size =0.25, random_state = 42)

In [292]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (47, 31)
Training Labels Shape: (47, 303)
Testing Features Shape: (16, 31)
Testing Labels Shape: (16, 303)

In [293]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [294]:
pondera=[]
ff  = open('pond.csv', "rt")
r = csv.reader(ff)
for row in r :
    pondera.append(row[1])
pondera.pop(0)
ponderadores=[]
for i in pondera:
    ponderadores.append(float(i))

In [295]:
test_ind=[]
for fil in test_features.iterrows():
    test_ind.append(fil[0])
IPC_test=np.array(IPC_reales.iloc[test_ind])

In [296]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
IPC_predecidos=[]
for p in predictions:
    temp=[]
    for value in p:
        temp.append(float(value))
    IPC_predecidos.append(np.dot(np.array(temp),np.array(ponderadores))/100)
# Calculate the absolute errors
errors = np.array(abs(IPC_predecidos - IPC_test))
# Print out the mean absolute error (mae)
print('Mean Squared Error:', round(np.mean(np.square(errors)), 2), '')
print('Mean Absolute Error:', round(np.mean(errors), 2), '')

Mean Squared Error: 0.61
Mean Absolute Error: 0.62

In [ ]:
#Valores Ãºltima canasta (2018): 0.14 0.36